/* styles.css */

.photo-box {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.photo-box .comment-box {
  width: 60%;
}

/* 
.photo {
  border: 2px solid #ddd;
  margin-bottom: 20px;
}

.photo .content {
  padding: 10px;
}

.photo .content i {
  display: block;
  margin-bottom: 10px;
  font-style: italic;
}

.photo .content .image img {
  width: 100%;
  height: auto;
}

.comment-box {
  margin-top: 10px;
} */