/* styles.css */

.register-form {
    width: 700px;
    /* Tăng kích thước form */
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form__form {
    display: flex;
    flex-wrap: wrap;
}

.register-form__form-group {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 30px;
}

.register-form__label {
    font-weight: bold;
}

.register-form__input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.outer-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-form__btn {
    width: 50%;
    /* Đặt chiều rộng cho nút đăng ký */
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form__btn:hover {
    background-color: #0056b3;
}